.App {
  text-align: center;
}

* {
  background-color: rgb(0, 43, 99);
  color: white;

}

.link-menu {
  color: white;
  font-size: 20px;
}

.row h5 {
  color: white;
}

.altCard {
  height: 210px;
}

.mapaCard {
  height: 310px;
}

@media (max-width: 768px) {
  .altCard {
    height: auto;
    margin-bottom: 15px;
  }

  .mapaCard {
    height: auto;
    margin-bottom: 15px;
  }
}

.mapa{
  width: 100%;
  height: 230px;
  border:0;
  border-radius: 10px;
}

/* Deixar o ícone do botão hamburger branco */
.navbar-toggler {
  border-color: white;
  /* borda branca */
}

.custom-toggler {
  border-color: white;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath stroke='rgba(255,255,255,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22' /%3E%3C/svg%3E");
}




.carousel-item img {
  height: 600px;
  /* mesma altura do container */
  object-fit: cover;
  /* adapta a imagem sem distorcer */
  object-position: center;
  /* centraliza verticalmente */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}