.App {
  text-align: center;
}

*{
  background-color: rgb(0,43,99);
  color: white;

}

.link-menu{
  color: white;
  font-size: 20px;
}

.row h5{
  color: white;
}

.altCard{
  height: 210px;
}

@media (max-width: 768px) {
  .altCard{
    height: auto;
    margin-bottom: 15px;
  }
  
}

.carousel-item img {
  height: 600px;          /* mesma altura do container */
  object-fit: cover;      /* adapta a imagem sem distorcer */
  object-position: center;/* centraliza verticalmente */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
